<div class="ct-pageWrapper" id="ct-js-wrapper">
  <section class="company-heading intro-type" id="parallax-one">
    <div class="container">
      <div class="row product-title-info">
        <div class="col-md-12" style="text-align: center">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
    <div class="parallax" id="parallax-cta" style="background-image:url(https://www.solodev.com/assets/hero/hero.jpg);"></div>
  </section>
  <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
    <div class="container text-center">
      <h2>Best for Avoiding Additional Fees</h2>
      <h3>One of the rental car industry’s more expensive providers, MyCoolRentalCarSystem daily rate averages close to $50. What they do well, however, might save you money if you can get past that average rate: The company reduces or gets rid of a lot of the sneaky additional charges that most other companies make their money from.</h3>
     
        
      </div>
    </div>
  </section>
  <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>Best Discounts</h2>
          <h3>There’s a good chance you might be able to knock the price down a bit, with plenty of discount codes, rebates, and promotions available to savvy customers who aren’t afraid to put in a bit of research work. If you’re renting in the Northeast, all cars come with e-Toll, so you don’t have to think about extra toll costs. It’s also good for companies whose employees need to snag a car for a bit—small businesses, in particular, can get up to 30 percent off their rentals.</h3>
        </div>
     </div>
    </div>
    </section>
<script>
  $('title').append(" - About Us");
</script>
        
      