 <section id="showcase">
      <div class="containerr">
        <h1>Car Renting System</h1>
        <p>Best Car Rental Price Guarantee. Find It Cheaper And We'll Beat It! No Credit Card Fees. Includes Free Amendments. We Speak Your Language. Unbeatable Prices. Types: Economy, Mini, Compact, People carrier, Intermediate, Premium, 4x4, Estate, SUV, Convertible..</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="containerr">
        <h1>Subscribe for news about cars, etc..</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

     <section id="boxes">
      <div class="containerr">
        <div class="box">
          <h3>Exclusive rates from a wide range of suppliers</h3>
          <p>Providing car rental offers for over 2,000,000 cars in 150+ countries, we can find you a great car in the right location for the best price</p>
        </div>
        <div class="box">
          <h3>High level of satisfaction</h3>
          <p>Great Trustpilot review score – 8.8 – based on feedback from thousands of our customers</p>
        </div>
        <div class="box">
          <h3>Personalized assistance during the reservation process</h3>
          <p>24/7 customer support via your preferred channel — chat, phone, email — in 12 languages</p>
        </div>
      </div>
    </section>

    